In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data=pd.read_csv("Mall_Customers.csv")
data.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [4]:
data.shape

(200, 5)

In [5]:
data["Genre"].value_counts()

Male      100
Female    100
Name: Genre, dtype: int64

In [6]:
data.size

1000

In [7]:
data["Age"].value_counts

<bound method IndexOpsMixin.value_counts of 0      19
1      21
2      20
3      23
4      31
       ..
195    35
196    45
197    32
198    32
199    30
Name: Age, Length: 200, dtype: int64>

In [8]:
data.isnull()

     CustomerID  Genre    Age  Annual Income (k$)  Spending Score (1-100)
0         False  False  False               False                   False
1         False  False  False               False                   False
2         False  False  False               False                   False
3         False  False  False               False                   False
4         False  False  False               False                   False
..          ...    ...    ...                 ...                     ...
195       False  False  False               False                   False
196       False  False  False               False                   False
197       False  False  False               False                   False
198       False  False  False               False                   False
199       False  False  False               False                   False

[200 rows x 5 columns]

In [9]:
data.dtypes

CustomerID                 int64
Genre                     object
Age                        int64
Annual Income (k$)         int64
Spending Score (1-100)     int64
dtype: object

In [10]:
data['Genre'] = data['Genre'].map({'Male': 0, 'Female': 1})
data['Genre'] = data['Genre'].astype(int)

In [11]:
data.head()

   CustomerID  Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1      0   19                  15                      39
1           2      0   21                  15                      81
2           3      1   20                  16                       6
3           4      1   23                  16                      77
4           5      1   31                  17                      40

###### Splitting dataset

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X=data.drop(["Genre","CustomerID"],axis=1)

In [14]:
X.dtypes

Age                       int64
Annual Income (k$)        int64
Spending Score (1-100)    int64
dtype: object

In [15]:
X.shape

(200, 3)

In [16]:
y=data["Genre"]

In [17]:
print(y.shape)
print(y.dtypes)

(200,)
int32

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

###### Training

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
rfc=RandomForestClassifier(n_estimators=100,random_state=42)

In [25]:
rfc.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [26]:
y_pred = rfc.predict(X_test)

In [27]:
y_pred

array([1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0])

In [28]:
from sklearn.metrics import accuracy_score

In [29]:
accuracy=accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

Accuracy: 0.65

###### Testing

In [30]:
value=[[19,15,39]]

In [31]:
import pickle

In [32]:
data1=[[25,80,45]]

In [35]:
pickle_name="D:\Flask\model.pkl"
with open(pickle_name,"wb")as file:
    pickle.dump(rfc,file)

In [36]:
with open("D:\Flask\model.pkl","rb") as f:
    mode=pickle.load(f)

In [37]:
mode.predict(data1)

C:\Users\elcot\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([1])

In [38]:
prediction = "Male" if mode.predict(value) == 0 else "Female"
print('Predicted Gender:', prediction)

Predicted Gender: Male

C:\Users\elcot\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(